# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# dotenv environment variables file
.env

# VSCode settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# PyInstaller
*.spec

# Test and coverage outputs
htmlcov/
.tox/
.nox/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt

# Pyre type checker
.pyre/